*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%

body
    min-width 1180px

::selection
    background $laranja
    color $azul

::-moz-selection
    background $laranja
    color $azul

.center
    width desktop-base-width
    position relative
    margin 0 auto

body
    &:after
        content "" // preload images
        display none