header
    width 100%
    height 110px
    background $img('bg.jpg') no-repeat center
    background-size cover
    position relative
    .center
        clearfix()
        height 100%
    h1
        float left
        width 220px
        height 100%
        margin 0
        padding 0
        a
            display block
            width 100%
            height 100%
            text-indent -9999px
            background $img('logo-wj2.png') no-repeat center
    nav
        height 100%
        line-height 110px
        float right
        a
            display inline-block
            color #ffffff
            lato 18 normal italic
            text-decoration none
            margin-left 35px
            transition color .3s
            &:hover
            &.active
                color $laranja
            &.facebook
                width 10px
                background $img('facebook3.png') no-repeat center
                text-indent -9999px
                transition background .3s
                &:hover
                    background-image $img('facebook2.png')
    &.home
        background #ffffff
        h1 a
            background-image $img('logo-wj.png')
        nav a
            color $azul
            &:hover
                color $laranja
            &.facebook
                background-image $img('facebook.png')

.not-found
    padding 15vh 0 15vh
    text-align center
    h1
        display inline-block
        margin 0
        lato 13 bold
        text-transform uppercase
        color $azul
        padding 15px
        border 2px solid $azul

footer
    #orcamento
        width 100%
        height 300px
        overflow hidden
        background $laranja
        .center
            width 810px
            position relative
            height 100%
        #orcamento-handle
            display block
            position relative
            clearfix()
            width 100%
            position absolute
            top 110px
            left 0
            border 2px solid $azul
            lato 20 bold
            color $azul
            text-transform uppercase
            padding 22px 0
            text-decoration none
            opacity 1
            transition opacity .3s, left .3s, visibility .3s, background .3s
            .texto
                display inline-block
                width 90%
                float left
                height 100%
                text-align center
            .seta
                position absolute
                display block
                width 10%
                height 100%
                top 0
                right 0
                border-left 2px solid $azul
                background $img('seta-botao3.png') no-repeat center
                transition background .3s
            &:hover
                background #fff
                .seta
                    background $img('seta-botao.png') no-repeat center $azul
        form
            transform translateX(810px)
            opacity 0
            visibility hidden
            transition opacity .7s, transform .7s
            padding-top 48px
            clearfix()
            ::-webkit-input-placeholder
                color rgba(#fff, .6)
            :-moz-placeholder
                color rgba(#fff, .6)
            ::-moz-placeholder
                color rgba(#fff, .6)
            :-ms-input-placeholder
                color rgba(#fff, .6)
            .select-wrapper
                border 2px solid #fff
                border-left 0
                width 25%
                float left
                height 40px
            input
            textarea
            select
                width 25%
                float left
                background transparent
                color #fff
                border 2px solid #fff
                height 40px
                padding 10px
                lato 11
                outline 0
                &#orcamento_email
                &#orcamento_telefone
                    border-left 0
                &[type='submit']
                    width auto
                    float right
                    border 0
                    lato 20 normal italic
                    margin-top 15px
                    padding-right 25px
                    line-height 1
                    background $img('seta-botao.png') no-repeat center right
                    transition background .3s, color .3s
                    &:hover
                        color $azul
                        background-image $img('seta-botao3.png')
            select
                color $azul
            .response-wrapper
                height 40px
                float left
                margin-top 15px
                line-height 40px
                color $azul
                lato 16 light
                span
                    display inline-block
                    border-bottom 1px solid rgba(#fff, .5)
            textarea
                width 100%
                height 120px
                float left
                display block
                border-top 0px
                resize none
            select
                border 0
                width 100%
        &.show
            form
                opacity 1
                visibility visible
                transform translateX(0)
            #orcamento-handle
                opacity 0
                left -810px
                visibility hidden
    #contato
        width 100%
        background $azul
        padding 80px 0
        clearfix()
        .info
            width 360px
            float left
            p
                color #fff
                margin 0
                line-height 1
                lato 16 light
                &.titulo
                    lato 52 bold italic
                &.telefone
                    lato 40 light italic
                    color $laranja
                    margin-top 8px
            .endereco
                margin-top 45px
                p
                    line-height 1.4
        form
            width 640px
            float right
            margin-top 15px
            clearfix()
            ::-webkit-input-placeholder
                color rgba(#fff, .6)
            :-moz-placeholder
                color rgba(#fff, .6)
            ::-moz-placeholder
                color rgba(#fff, .6)
            :-ms-input-placeholder
                color rgba(#fff, .6)
            input
            textarea
                width 33.33333%
                float left
                background transparent
                color #fff
                border 2px solid #fff
                height 40px
                padding 10px
                lato 11
                outline 0
                &#contato_email
                &#contato_telefone
                    border-left 0
                &[type='submit']
                    width auto
                    float right
                    border 0
                    lato 20 normal italic
                    margin-top 15px
                    padding-right 25px
                    line-height 1
                    background $img('seta-botao.png') no-repeat center right
                    transition background .3s, color .3s
                    &:hover
                        color $laranja
                        background-image $img('seta-botao2.png')
            .response-wrapper
                height 40px
                float left
                margin-top 15px
                line-height 40px
                color $laranja
                lato 16 light
                span
                    display inline-block
                    border-bottom 1px solid rgba(#fff, .3)
            textarea
                width 99.9%
                height 120px
                float left
                display block
                border-top 0px
                resize none
    .googlemaps
        width 100%
        height 350px
        iframe
            width 100%
            height 100%
            display block
    .copyright
        background $laranja
        padding 10px 0
        clearfix()
        p
            lato 12
            color $azul
            float left
            a
                color $azul
                text-decoration none
                border-bottom 1px solid transparent
                transition border .3s
                &:hover
                    border-color rgba($azul, .3)
            &:last-child
                float right