.banners-wrapper
    width 100%
    height 515px
    overflow hidden
    position relative
    background $img('bg.jpg') no-repeat center
    background-size cover
    .center
    .banners
        height 100%
        clearfix()
        .banner
            height 100%
            width 100%
            background-repeat no-repeat
            background-position right center
            .texto-wrapper
                height 100%
                width 470px
                float left
                display table
                .texto
                    display table-cell
                    vertical-align middle
                    color #fff
                    p
                        margin 0
                        padding 0
                        line-height 1.1
                        lato 16
                        text-align center
                        cursor default
                    a
                        display block
                        position relative
                        margin-top 35px
                        clearfix()
                        width 100%
                        border 2px solid #fff
                        lato 20 bold
                        color #fff
                        text-transform uppercase
                        padding 22px 0
                        text-decoration none
                        .texto
                            display inline-block
                            width 85%
                            float left
                            height 100%
                            text-align center
                        .seta
                            position absolute
                            display block
                            width 15%
                            height 100%
                            top 0
                            right 0
                            border-left 2px solid #fff
                            background $img('seta-botao.png') no-repeat center
                            transition background .3s
                        &:hover .seta
                            background-color $laranja
        .cycle-pager
            position absolute
            bottom 0
            right 0
            z-index 102
            a
                display block
                float left
                width 10px
                height 10px
                text-indent -9999px
                background #11446F
                margin-left 5px
                transition background .3s
                &.cycle-pager-active
                    background $laranja

.chamadas
    width 100%
    position relative
    padding-bottom 100px
    clearfix()
    &:before
        content ""
        position absolute
        top 0
        left 0
        width 100%
        height 90px
        background #BDBDBD
    a
        display block
        text-decoration none
        width 25%
        float left
        .titulo
            width 100%
            height 90px
            line-height 90px
            lato 16 light italic
            color $azul
            text-transform uppercase
            text-align center
            transition background .3s
        .imagem
            width 100%
            height 190px
            background-repeat no-repeat
            background-position center
            transition background .3s
        .texto
            width 100%
            padding 0 25px
            color $texto
            lato 17 light
            p
                line-height 1.5
                margin 0
        &:hover
            .titulo
                background $laranja !important
        &.chamada-1
            .titulo
                background #C4C4C4
            .imagem
                background-image $img('icone-conciliacao.png')
            &:hover .imagem
                background-image $img('icone-conciliacao2.png')
        &.chamada-2
            .titulo
                background #CACACA
            .imagem
                background-image $img('icone-chargeback.png')
            &:hover .imagem
                background-image $img('icone-chargeback2.png')
        &.chamada-3
            .titulo
                background #D1D1D1
            .imagem
                background-image $img('icone-frente-caixa.png')
            &:hover .imagem
                background-image $img('icone-frente-caixa2.png')
        &.chamada-4
            .titulo
                background #D7D7D7
            .imagem
                background-image $img('icone-catracas.png')
            &:hover .imagem
                background-image $img('icone-catracas2.png')

#lightbox
    display none
    position fixed
    width auto
    height auto
    top 0
    left 0
    right 0
    bottom 0
    background rgba($azul, .9)
    z-index 9999
    overflow-y auto
    cursor pointer
    .lightbox-padding
        width 915px
        height 580px
        background #fff
        padding 5px
        margin 60px auto
        cursor default
        .lightbox-bg
            width 100%
            height 100%
            background $img('foto.png') no-repeat center
            border 2px solid $azul
            padding 0 5%
            .titulo
                text-align center
                color $azul
                cursor default
                lato 62 bold italic
                line-height 1.2
                margin 85px 0 75px
                span
                    display block
                    lato 28 normal italic
            a
                display block
                width 50%
                float left
                text-align center
                text-decoration none
                .botao
                    display block
                    position relative
                    margin 35px auto 0
                    clearfix()
                    width 80%
                    border 2px solid $azul
                    lato 18 bold
                    color $azul
                    text-transform uppercase
                    padding 20px 0
                    text-decoration none
                    .texto
                        display inline-block
                        width 80%
                        float left
                        height 100%
                        text-align center
                    .seta
                        position absolute
                        display block
                        width 20%
                        height 100%
                        top 0
                        right 0
                        border-left 2px solid $azul
                        background $img('seta-botao3.png') no-repeat center
                        transition background .3s
                &:hover .botao .seta
                    background $img('seta-botao.png') no-repeat center $laranja