.paginas
    padding 75px 0
    .paginas-titulo
        h1
            color $laranja
            margin 0 0 40px
            width 100%
            lato 48 normal italic
    .paginas-conteudo
        width 100%
        clearfix()
        .menu
            width 270px
            float left
            a
                display block
                width 100%
                margin-bottom 10px
                color $azul
                text-decoration none
                text-align center
                text-transform uppercase
                lato 16 normal italic
                padding 20px
                border 2px solid $azul
                transition color .3s, background .3s
                background $img('seta-botao3.png') no-repeat 91% center
                &:hover
                &.active
                    background $img('seta-botao.png') no-repeat 91% center $azul
                    color #fff
        .texto
            width 740px
            float right
            lato 17 light
            color $texto
            line-height 1.5
            p
                margin 1.5em 0
                &:first-child
                    margin-top 0
            img
                max-width 100%
                height auto
        .clientes
            clearfix()
            div
                float left
                width 33.33%
                margin-bottom 7.5%
                img
                    display block
                    margin 0 auto